In [ ]:
#create a Tuple

In [1]:
t=(1,2,3,4,5,6,7)

In [2]:
t

(1, 2, 3, 4, 5, 6, 7)

In [3]:
t[1:3]

(2, 3)

In [4]:
t[:]

(1, 2, 3, 4, 5, 6, 7)

In [5]:
t[1:]

(2, 3, 4, 5, 6, 7)

In [6]:
t[:4]

(1, 2, 3, 4)

In [7]:
#Update a list
t

(1, 2, 3, 4, 5, 6, 7)

In [9]:
y=(44,)
t+=y

In [10]:
t

(1, 2, 3, 4, 5, 6, 7, 44)

In [15]:
t=list(t)

In [16]:
t.append(8)

In [17]:
t=tuple(t)

In [18]:
t

(1, 2, 3, 4, 5, 6, 7, 44, 8)

In [19]:
#unpaking List

In [23]:
ti=('a','b','c')

In [25]:
ti

('a', 'b', 'c')

In [29]:
(r,m,v)=ti

In [30]:
print(r)
print(m)
print(v)

a
b
c

In [31]:
##Looping in Tuple

In [32]:
for i in t:
    print(i)

1
2
3
4
5
6
7
44
8

In [33]:
for i in range(len(t)):
    print(t[i])

1
2
3
4
5
6
7
44
8

In [34]:
t

(1, 2, 3, 4, 5, 6, 7, 44, 8)

In [35]:
ti

('a', 'b', 'c')

In [36]:
t+ti

(1, 2, 3, 4, 5, 6, 7, 44, 8, 'a', 'b', 'c')

In [38]:
ti.index('a')

0

In [39]:
t.count(5)

1