In [1]:
import pandas as pd
from transformers import BertModel,AutoTokenizer

In [2]:
model_name = "bert-base-cased"

In [3]:
bertmodel=BertModel.from_pretrained(model_name)
tokenizer=AutoTokenizer.from_pretrained(model_name)

config.json:   0%|          | 0.00/570 [00:00<?, ?B/s]

c:\Users\Dell\anaconda3\Lib\site-packages\huggingface_hub\file_download.py:140: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Dell\.cache\huggingface\hub\models--bert-base-cased. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

model.safetensors:   0%|          | 0.00/436M [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/49.0 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/213k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/436k [00:00<?, ?B/s]

In [4]:
sentance="Welcome to our first model traning Python Program"

In [31]:
token=tokenizer.tokenize(sentance)

In [19]:
vocab=tokenizer.vocab
vocab_df=pd.DataFrame({'token':vocab.keys(),'token_id':vocab.values()})

In [28]:
vocab_df=vocab_df.sort_values(by='token_id').set_index('token_id')

In [29]:
vocab_df

              token
token_id
0             [PAD]
1         [unused1]
2         [unused2]
3         [unused3]
4         [unused4]
...             ...
28991           ##）
28992           ##，
28993           ##－
28994           ##／
28995           ##：

[28996 rows x 1 columns]

In [34]:
token_ids=tokenizer.encode(sentance)
token_ids

[101, 12050, 1106, 1412, 1148, 2235, 189, 23851, 2118, 23334, 4659, 102]

In [35]:
print(len(token))
print(len(token_ids))

10
12

In [38]:
vocab_df.iloc[101]

token    [CLS]
Name: 101, dtype: object

In [39]:
vocab_df.iloc[102]

token    [SEP]
Name: 102, dtype: object

In [40]:
print("Token at position 101:", vocab_df.iloc[101])
print("Token at position 102:", vocab_df.iloc[102])

Token at position 101: token    [CLS]
Name: 101, dtype: object
Token at position 102: token    [SEP]
Name: 102, dtype: object

In [43]:
list(zip(token,token_ids[1:-1]))

[('Welcome', 12050),
 ('to', 1106),
 ('our', 1412),
 ('first', 1148),
 ('model', 2235),
 ('t', 189),
 ('##rani', 23851),
 ('##ng', 2118),
 ('Python', 23334),
 ('Program', 4659)]

In [44]:
tokenizer.decode(token_ids[1:-1])

'Welcome to our first model traning Python Program'

In [47]:
sentance1=sentance.replace('Python','java')
sentance1

'Welcome to our first model traning java Program'

In [58]:
sentence2_id=tokenizer([sentance,sentance1],padding=True)
sentence2_id

{'input_ids': [[101, 12050, 1106, 1412, 1148, 2235, 189, 23851, 2118, 23334, 4659, 102, 0], [101, 12050, 1106, 1412, 1148, 2235, 189, 23851, 2118, 179, 15677, 4659, 102]], 'token_type_ids': [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], 'attention_mask': [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]}

In [60]:
tokenizer.decode(sentence2_id['input_ids'][0])

'[CLS] Welcome to our first model traning Python Program [SEP] [PAD]'

In [61]:
tokenizer.decode(sentence2_id['input_ids'][1])

'[CLS] Welcome to our first model traning java Program [SEP]'